
# .env (na raiz do projeto)

# Porta do servidor
PORT=3000

# Ambiente
NODE_ENV=development

# JWT
JWT_SECRET=seu_secret_aqui

# Banco de dados
DATABASE_URL=./produtos.db

# CORS (permitir origens)
ALLOWED_ORIGINS=//localhost:3000